:root{
    --primary-color:#0d1936;
    --secondary-color:#535354;
    --background-color:#efefef;
    --shadow-color:rgba(0,0,0,0.1);
    --black-color:#000;
    --white-color:#FFF;
    --intput-border-color : #e3e4e6;
    --transition-3s: 0.3s ;
}



*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family: 'poppins',sans-serif;
    background-color: #f8f8f8;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color:var(--primary-color) ;

    
}
.navbar a{
    color:var(--primary-color) ;
}
.navbar .logo{
    font-size: 40px;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li {
    margin: 0 20px;
    padding: 15px;
    
}
.navbar .nav-links ul a i{
    cursor: pointer;
    font-size: 50px;
}
.manage-exams{
    background-color: rgb(255, 255, 255);
    margin:30px 20px 20px 20px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
}
.direct-answer-exams,.QCM ,.Question,.create-exams{
    background-color: rgb(255, 255, 255);
    margin:10px 0px;
    padding: 10px;
    border-color: var(--shadow-color);
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
}
.QCM-content,.direct-answer-exams-content{
    display: flex;
    flex-direction:column;
}
.Question{
    display: flex;
    flex-direction:column;
}
